<h1>Ejercicio 44</h1>

<ul>
  <li>
    Especialidades

    <ul>
      <li>
        <a routerLink="especialidades/dfrontend">Desarrollador FrontEnd</a>
      </li>
      <li>
        <a routerLink="especialidades/dbackend">Desarrollador BackEnd</a>
      </li>
      <li>
        <a routerLink="especialidades/dfullstack">Desarrollador FullStack</a>
      </li>
    </ul>

  </li>
</ul>

<ul>
  <li>
    Carreras

    <ul>
      <li>
        <a routerLink="carreras/medicina">Medicina</a>
      </li>
      <li>
        <a routerLink="carreras/sistema">Sistema</a>
      </li>
      <li>
        <a routerLink="carreras/arquitectura">Arquitectura</a>
      </li>
    </ul>

  </li>
</ul>

<ul>
  <li>
    Marcas de Laptop

    <ul>
      <li>
        <a routerLink="mlaptop/lenovo">Lenovo</a>
      </li>
      <li>
        <a routerLink="mlaptop/dell">Dell</a>
      </li>
      <li>
        <a routerLink="mlaptop/asus">Asus</a>
      </li>
    </ul>

  </li>
</ul>

<ul>
  <li>
    Marcas de Gaseosas

    <ul>
      <li>
        <a routerLink="mgaseosa/cocacola">Coca Cola</a>
      </li>
      <li>
        <a routerLink="mgaseosa/fanta">Fanta</a>
      </li>
      <li>
        <a routerLink="mgaseosa/sprite">Sprite</a>
      </li>
    </ul>

  </li>
</ul>

<router-outlet></router-outlet>